.dbconfig defensive off
BEGIN;
PRAGMA writable_schema = on;
PRAGMA foreign_keys = off;
PRAGMA encoding = 'UTF-8';
PRAGMA page_size = '4096';
PRAGMA auto_vacuum = '0';
PRAGMA user_version = '0';
PRAGMA application_id = '0';
CREATE TABLE departments (
	id INTEGER NOT NULL, 
	department_code VARCHAR(30) NOT NULL, 
	department_name VARCHAR(100) NOT NULL, 
	unit VARCHAR(100), 
	status VARCHAR(20), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (department_code), 
	UNIQUE (department_name)
);
CREATE TABLE employment_types (
	id INTEGER NOT NULL, 
	type_name VARCHAR(50) NOT NULL, 
	status VARCHAR(20), 
	PRIMARY KEY (id), 
	UNIQUE (type_name)
);
CREATE TABLE employee_statuses (
	id INTEGER NOT NULL, 
	status_name VARCHAR(50) NOT NULL, 
	status VARCHAR(20), 
	PRIMARY KEY (id), 
	UNIQUE (status_name)
);
CREATE TABLE employees (
	id INTEGER NOT NULL, 
	emp_id VARCHAR(50) NOT NULL, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100) NOT NULL, 
	gender VARCHAR(20) NOT NULL, 
	date_of_birth DATE NOT NULL, 
	phone VARCHAR(20) NOT NULL, 
	email VARCHAR(150) NOT NULL, 
	department VARCHAR(100) NOT NULL, 
	designation VARCHAR(100) NOT NULL, 
	joining_date DATE NOT NULL, 
	employment_type_ VARCHAR(50) NOT NULL, 
	monthly_salary NUMERIC(12, 2), 
	status VARCHAR(50) NOT NULL, 
	address VARCHAR(500), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
);
CREATE TABLE emergency_contacts (
	id INTEGER NOT NULL, 
	employee_id INTEGER NOT NULL, 
	contact_name VARCHAR(100), 
	contact_phone VARCHAR(20), 
	relationship VARCHAR(50), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (employee_id), 
	FOREIGN KEY(employee_id) REFERENCES employees (id)
);
CREATE TABLE employee_photos (
	id INTEGER NOT NULL, 
	employee_id INTEGER NOT NULL, 
	file_name VARCHAR(255) NOT NULL, 
	file_path VARCHAR(500) NOT NULL, 
	file_type VARCHAR(50), 
	file_size INTEGER, 
	uploaded_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (employee_id), 
	FOREIGN KEY(employee_id) REFERENCES employees (id)
);
CREATE TABLE users (
	id INTEGER NOT NULL, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100) NOT NULL, 
	email VARCHAR(150) NOT NULL, 
	password_hash VARCHAR(255) NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, username VARCHAR(50), 
	PRIMARY KEY (id)
);
CREATE UNIQUE INDEX ix_employees_emp_id ON employees (emp_id);
CREATE UNIQUE INDEX ix_users_email ON users (email);
INSERT OR IGNORE INTO 'emergency_contacts'('id', 'employee_id', 'contact_name', 'contact_phone', 'relationship', 'created_at') VALUES (1, 6, 'PK Mukherjee', '79845306461', NULL, '2026-08-22 09:53:04.937295');
INSERT OR IGNORE INTO 'emergency_contacts'('id', 'employee_id', 'contact_name', 'contact_phone', 'relationship', 'created_at') VALUES (2, 7, 'Suresh Kumar', '9876500001', 'Father', '2026-08-22 11:05:06.402590');
INSERT OR IGNORE INTO 'emergency_contacts'('id', 'employee_id', 'contact_name', 'contact_phone', 'relationship', 'created_at') VALUES (3, 8, 'sd dutta', '54654657461465749', NULL, '2026-08-22 11:12:38.818685');
CREATE INDEX ix_departments_id ON departments (id);
CREATE INDEX ix_employment_types_id ON employment_types (id);
CREATE INDEX ix_employee_statuses_id ON employee_statuses (id);
CREATE INDEX ix_employees_id ON employees (id);
CREATE INDEX ix_emergency_contacts_id ON emergency_contacts (id);
CREATE INDEX ix_employee_photos_id ON employee_photos (id);
CREATE INDEX ix_users_id ON users (id);
PRAGMA writable_schema = off;
COMMIT;
